<!DOCTYPE html>
{% load custom_tags %}

<img class="card-img-top" src="{{ object.image|media_url }}" alt="{{ object.name }}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Shop{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% include 'catalog/menu.html' %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
